/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */


#logo {
	position: absolute !important;
	z-index: 5 !important;
	top: 0px !important;
	margin-left: -37px !important;
}

#block-superfish-1 {
width: 80%;
float: right;
}


#cabecera .container{
	width: 100%;
	max-width: 1400px;
}

#cabecera .container{
	/*margin-left: 0px !important;
	margin-right: 0px !important;*/
}

#cabecera .block-inner.clearfix {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.views-field.views-field-field-descripci-n {
	position: absolute;
	top: 250px;
	right: 200px;
	color: white;
	font-size: 50px;
}

#block-block-6 {
width: 70%;
margin: auto;
padding-top: 10px;
}

tr.even, tr.odd{
	border-bottom: 0px solid #ccc;
}




#block-block-4 {
width: 100%;
float: left;
}

#icono {
background: green;
width: 103px;
height: 105px;
float: left;
text-align: justify;
border-radius: 100px;
margin: 15px 18px !important;
}

#icono:hover {
background: #003300;
}


#icono img {
padding: 17px;
}

.views-field.views-field-field-banner-descripcion {
z-index: 3;
position: absolute;
bottom: 26%;
right: 10%;
color: white;
font-size: 48px;
font-weight: lighter;
text-shadow: 1px 1px #000000;
}

.sidebar-second .content-inner {
margin-right: 30%;
margin-left: 0;
padding-left: 20px;
border-right: 2px solid #c3c3c3;
}

.region-sidebar-second  .region-inner.clearfix {
padding: 0 20px;
}
.view.view-lista-de-proyectos.view-id-lista_de_proyectos.view-display-id-page.view-dom-id-fac2656eb3729f5b44a16e1b27d6c768 th {
min-width: 71px !important;
}
th
{
min-width:71px;
}
.calendar-calendar th {
min-width: 41px !important;
}

.calendar-calendar th.days {
border: 0px solid #ccc !important;
}
#block-block-4 {
width: 102% !important;
}
#block-views-enlaces-de-interes-block .field-content { margin: 10px 0; border-bottom: 2px dotted #ddd; min-height: 93px; }
#main-content #user-login #edit-name {
width: 40%;
}
#main-content #user-login #edit-pass {
width: 40%;
}
