/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}
.mean-container .mean-bar {	
width: 99%;	
background: #143114;}

#branding {
	float: none !important;
}

#logo {
	margin: auto !important;
	width: 20%;
}

#contenido .container {
margin-top: -50px !important;
}

#cabecera .block-inner.clearfix {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#nav-wrapper {
	width: 25%;
	margin: auto;
	float: none;
}.mean-container .mean-nav ul li {	position: relative;	float: left;	width: 100%;	background: #143114;}.mean-container .mean-nav ul li a{	padding: 20px 10%;	font-size: 15px;}.views-field.views-field-field-banner-descripcion {	z-index: 3;	position: absolute;	bottom: 15%;	right: 5%;	color: white;	font-size: 40px;	font-weight: lighter;	text-shadow: 1px 1px #000000;}.flex-control-nav {	bottom: -10px;}#icono {	background:#388538 !important;	border: solid 1px #030202;	width: 105px;	height: 105px;	float: left;	text-align: justify;	border-radius: 100px;	margin: 15px 3%;}#icono:hover{	background:#388538 !important;	border: solid 1px #e8e8e8;}#icono img {	padding: 17px;}

#slider img {
	border: 0px !important;
}  #region-preface1, #region-preface2, #region-preface3{	float: none;    width: 100% !important;	margin-top: 10px;	margin-left: 0px !important;	margin: auto !important;	  }    .region.region-preface1:hover, .region.region-preface2:hover, .region.region-preface3:hover {	box-shadow: none !important;}#block-block-4 {	width: 100%;	float: left;}
#region-preface1 img, #region-preface2 img, #region-preface3 img{
}

#region-preface1 .region-inner, #region-preface2 .region-inner, #region-preface3 .region-inner{
	width: 100%;
}

#region-preface1 p, #region-preface2 p, #region-preface3 p {
	font-size: 25px;
}#main-content {	padding-right: 0px !important;}

#main-content h1{
	margin: 20px 10px;
	font-size: 37px;
	text-align: center;
}

.region.region-two-50-first, .region.region-two-50-second{
	width: 50%;
}

.region.region-two-50-second p{
	text-align: center;
}

.views-column-galeria{
	width: 99.1%;
	padding: 0px !important;
}


.views-column-galeria .field-content {
font-size: 22px;
}

#fotos img {
	width: 45%;
	margin: 5px 5px;
}

.field-item.even {
	font-size: 12px;
}


.responsive-menus.responsified span.toggler, .responsive-menus.responsified .responsive-menus-simple{
	background: #003300;
}

.responsive-menus.responsified .responsive-menus-simple li a.active{
	background: #005b00 !important;
}

#rm-removed .block-inner.clearfix{
	margin-left: 0px;
	margin-right: 0px;
}

.views-field.views-field-field-descripci-n {
	position: absolute;
	top: 150px;
	right: 5px;
	color: white;
	font-size: 30px;
}
#menu-principal {	background: #143114;	color: white;	min-height: 50px !important;}#block-block-6 {	text-align: center;	width: 100% !important;	font-size: 25px;}#block-block-5 {	width: 100%;	float: left;	text-align: center;}#block-system-main-menu {	width: 100% !important;	float: none !important;}.region-sidebar-first.block, .region-sidebar-second .block {	width: 75%;	margin: auto;	margin-bottom: 10px;}

.region.region-footer {
width: 100% !important;
margin: auto;
}

table {}

#responsiva {
overflow: auto !important;
}

#block-block-7 {
max-width: 100% !important;
float: none;
margin-bottom: 0px !important;
min-height: 50px;
padding-left: 0% !important;
padding-right: 0% !important;
}

#node-28 img {
float: left;
width: 50% !important;
height: 50% !important;
margin-left: 10px !important;
margin-right: 10px !important;
}